.container{
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 30%;
}
.container h1{
  background-color: rgb(199, 159, 241);
  padding: 30px;
  padding-top: 80px;
  width: 80%;
  border-radius: 30px;
  height: 80px;
}
.answer{
  background-color: rgb(199, 159, 241);
  padding: 30px;
  width: 80%;
  border-radius: 30px;
  margin-bottom: 20px;
  /* display: flex;
  gap: 20px; */
}
.answer img{
  width: 6%;
  /* border: 1px solid black; */
}